[submodule "pkg/deployments/lib/morpho-core-v1"]
	path = pkg/deployments/lib/morpho-core-v1
	url = https://github.com/morpho-dao/morpho-core-v1
[submodule "pkg/core/lib/yield-daddy"]
	path = pkg/core/lib/yield-daddy
	url = https://github.com/timeless-fi/yield-daddy.git
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pkg/core/lib/auto-roller"]
	path = pkg/core/lib/auto-roller
	url = https://github.com/sense-finance/auto-roller.git
[submodule "pkg/deployments/lib/auto-roller"]
	path = pkg/deployments/lib/auto-roller
	url = https://github.com/sense-finance/auto-roller.git
[submodule "pkg/deployments/lib/v1-space"]
	path = pkg/deployments/lib/v1-space
	url = https://github.com/sense-finance/space-v1
[submodule "pkg/core/lib/morpho-core-v1"]
	path = pkg/core/lib/morpho-core-v1
	url = https://github.com/morpho-dao/morpho-core-v1
[submodule "pkg/core/lib/pendle-core-v2-public"]
	path = pkg/core/lib/pendle-core-v2-public
	url = https://github.com/pendle-finance/pendle-core-v2-public
