# environment
.env

# hevm
.hevm.libs.*
hevm.libs.*

# hardhat
pkg/deployments/abi/
artifacts/
cache/
exports/

# node
out/
node_modules/

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# misc
.idea/
yarn-error.log
.DS_Store
adapter-deployments/