[profile.default]
root = "."
libs = ['../../node_modules/', '../../']
tests = "./src/tests"
ffi = true
verbosity = 3
# fork_block_number = using last block
remappings = [
    '@sense-finance/v1-utils=../utils',
    '@sense-finance/v1-core=./',
    '@sense-finance/v1-fuse=../fuse',
    '@rari-capital/solmate=../../node_modules/@rari-capital/solmate',
    '@openzeppelin/contracts=../../node_modules/@openzeppelin/contracts',
    '@yield-daddy=lib/yield-daddy',
    'solmate/=../../node_modules/@rari-capital/solmate/src', # for yield-daddy
]
