name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
        token: ${{ secrets.ACCESS_TOKEN }}
    - uses: actions/setup-node@v2
      with:
        node-version: 14
        cache: yarn
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
    - uses: Swatinem/rust-cache@v1
      with:
          cache-on-failure: true

    # Try to get just from cache
    - name: Cache just
      id: cache-just
      uses: actions/cache@v2
      env:
        cache-name: cache-just
      with:
        path: ~/.cargo/bin/just
        key: ${{ runner.os }}-build-${{ env.cache-name }}

    # If we couldn't get just from the cache, install it
    - name: Install just
      if: steps.cache-just.outputs.cache-hit != 'true'
      run: cargo install just

    - name: Install npm dependencies
      run: yarn install

    - name: Install Foundry
      uses: onbjerg/foundry-toolchain@v1
      with:
        version: nightly

    - name: Run linter
      run: yarn lint

    - name: Run local core tests where the mock Target decimals is 18
      run: yarn workspace @sense-finance/v1-core run test

    - name: Run local fuse tests where the mock Target decimals is 18
      run: yarn workspace @sense-finance/v1-fuse run test

    - name: Run local core tests where the mock Target decimals > Underlying decimals
      run: yarn workspace @sense-finance/v1-core run test:greater-decimal-val

    - name: Run local core tests where the mock Target decimals < Underlying decimals
      run: yarn workspace @sense-finance/v1-core run test:lower-decimal-val

    - name: Run local core tests where the mock Target is an ERC4626 and decimals are 18
      run: yarn workspace @sense-finance/v1-core run test:4626

    - name: Run local core tests where the mock Target is an ERC4626 and decimals are 8
      run: yarn workspace @sense-finance/v1-core run test:4626-8-decimal-val

    - name: Run local core tests where the mock Target is non ERC20 compliant
      run: yarn workspace @sense-finance/v1-core run turbo-test:non-erc20-target

    - name: Run local core tests where the mock Underlying is non ERC20 compliant
      run: yarn workspace @sense-finance/v1-core run turbo-test:non-erc20-underlying

    - name: Run local core tests where the mock Stake is non ERC20 compliant
      run: yarn workspace @sense-finance/v1-core run turbo-test:non-erc20-stake

    - name: Run core mainnet tests
      run: yarn workspace @sense-finance/v1-core run test:mainnet
      env:
        ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
        MNEMONIC: ${{ secrets.MNEMONIC }}

    - name: Run fuse mainnet tests
      run: yarn workspace @sense-finance/v1-fuse run test:mainnet
      env:
        ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
        MNEMONIC: ${{ secrets.MNEMONIC }}

    - name: Check deploy scripts on a local mainnet fork
      run: cd pkg/deployments; yarn deploy:hardhat-fork:prod
      env:
        ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
        MNEMONIC: ${{ secrets.MNEMONIC }}
        FORK_TOP_UP: ${{ secrets.FORK_TOP_UP }}

    - name: Check simulated testchain env scripts on a local mainnet fork
      run: cd pkg/deployments; yarn deploy:hardhat-fork:sim
      env:
        ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
        MNEMONIC: ${{ secrets.MNEMONIC }}
        FORK_TOP_UP: ${{ secrets.FORK_TOP_UP }}

    - name: Generate gas snapshot
      run: yarn gas-snapshot
      env:
        ALCHEMY_KEY: ${{ secrets.ALCHEMY_KEY }}
        MNEMONIC: ${{ secrets.MNEMONIC }}

    - name: Commit changes
      if: ${{ github.ref == 'refs/heads/dev' }}
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: '[ci] gas snapshot'
        branch: ${{ github.head_ref }}
        file_pattern: gas-snapshots/*
